@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
	z-index: 0;
}

html,body { 
	background: url(https://media.giphy.com/media/SZ59wzAQnCzlu/giphy.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
		
body{
	background-color: #62d9fb;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.bg{
	background: url("https://media.giphy.com/media/SZ59wzAQnCzlu/giphy.gif") center no-repeat;
	background-size: cover;
	height: 100%;
}
.info{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: #639ce7;
	padding: 16px 0;
	color: #fff;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-transform: uppercase;
	text-align: center;
}
.logo{
	width: 50px;
	height:50px;
	border-radius: 50%;
}
.barner{
	background-size: cover;
	background-image: url("https://media.giphy.com/media/SZ59wzAQnCzlu/giphy.gif");
}
.center-text{
	text-align: center;
}
a{
	text-decoration: none;
	color: #fff;
}
a:nth-child(2){
	flex: 
}
h1{
	font-family: san-serif;
}
img{
	width: 100%;
}
.information{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 32px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	-moz-box-shadow: -5px -5px 5px 5px #888;
	-webkit-box-shadow: -5px -5px 5px 5px#888;
	box-shadow: -5px -5px 5px 5px #888;
	
}

@media only screen and (max-width : 640px){
	h1{
		/*letter-spacing: normal;*/
	}
	
}
@media only screen and (min-width : 768px){
	.info{
		background: transparent;
	}
}